/*
	template: EL SUCUCHO 
	author:   CHESPY
*/

* {
  margin: 0;
  padding: 0;
}
body {
  font: 0.74em Tahoma, Verdana, Sans-Serif, Arial;
  background: url(../images/body.png) repeat;
  color: #86ee84;
}
.t1{
	border: #86ee84 5px solid;
	height: 30px;
}
h1 {
  font: normal 3.4em "Trebuchet MS", Helvetica, Arial;
}
h2 {
  font: normal 1.8em "Trebuchet MS", Helvetica, Arial;
  color: #dfdfdf;
  margin: 0 0 15px;
}
h3 {
  font: normal 1.4em "Trebuchet MS", Helvetica, Arial;
  margin: 0 0 20px;
}
h4 {
  font: normal 1.2em "Trebuchet MS", Helvetica, Arial;
  color: #dfdfdf;
  margin: 0 0 4px;
}
p {
  margin: 0 0 20px;
  line-height: 1.8em;
}
a {
  outline: 0;
  color: #304d6f;
  text-decoration: none;
}
li {
  list-style: none;
}
li a,
img {
  display: block;
}
img {
  outline: 0;
  border: 0;
}
#wrapper {
  width: 984px;
  margin: auto;
}
.clr {
  clear: both;
}
#logo {
  float: left;
  padding: 30px 15px;
}
#logo h1 a {
  color: #fff;
}
#logo h1 a span {
  color: #808080;
}
#menu {
  height: 44px;
  padding: 5px 0 0 4px;
}
#menu li {
  float: left;
  font-size: 1.3em;
  text-transform: uppercase;
}
#menu li a {
  color: #888;
  margin: 0 50px 0 0;
}
#menu li a.current,
#menu li a:hover {
  color: #fff;
}
#pitch {
  clear: both;
  background: url(../images/p.jpeg) no-repeat;
  height: 228px;
  margin: 0 0 40px;
 
  padding: 80px 860px 0 30px;
}
#pitch h1 {
  font-size: 4em;
  color: #304d6f;
  margin: 0 0 20px;
}

.content {
  background: url(../images/content.gif) repeat;
  padding: 10px;
}
.link {
  background: #304d6f;
  color: #fff;
  padding: 5px 10px;
  font-size: 0.9em;
}
#main {
  padding: 10px;
}
.col {
  float: left;
  width: 292px;
  margin: 0 30px 15px 0;
}
.col.last {
  float: right;
  margin-right: 0;
}
.case img {
  float: left;
  clear: left;
  margin: 0 20px 20px 0;
  background: #121212;
  padding: 3px;
}
.short {
  padding: 0 0 15px 0;
  background: url(../images/line.gif) repeat-x left bottom;
}
.case a,
.article a {
  color: #ddd;
  font-weight: bold;
}
.date {
  font-size: 0.84em;
  margin: 0 0 3px;
}
#footer {
  clear: both;
  background: url(../images/line.gif) repeat-x;
  padding: 20px 20px 10px;
  font-size: 0.9em;
}
#footer a {
  color: #ccc;
  margin: 0 10px 0 0;
  border-bottom: 1px dotted #444;
  padding: 0 0 1px;
}
#links {
  float: right;
}
#links a {
  margin: 0 0 0 10px;
}
#footer p {
  margin: 0 0 8px;
}
